<header class="container">
    <h1>job<span>Board</span></h1>
    <nav>
        <ul>
            <li><a class='nav-link' href="">About</a></li>
            <li><a class="nav-link" href="">How it works</a></li>
            <li><a class="nav-link" href="">FAQ</a></li>
            <li><a class="nav-link" href="">Contacts</a></li>
            <li><a id="nav-link-login" href="/login">Login</a></li>
            <li><a id="nav-link-signup" href="/signup">Signup</a></li>
        </ul>
    </nav>
</header>