<%- include('partials/header') %>

    <%- include('partials/nav') %>

    <main id="home">

        <div id="row-1" class="container">  
            <div>
                <h1>Recruitment simplified</h1>
                <p>An All-In-One ATS for hirirng managers and job seekers.</p>
            </div>
        </div>

        <div id="row-2" class="container">
            <h1 class="section-title">About</h1>
            <div class="hr"></div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae iusto similique laborum omnis corrupti eligendi iure perferendis sequi saepe? Unde velit quo praesentium! Voluptas quam nemo voluptates tempora ipsa, et sapiente vero placeat voluptate ex nostrum minima delectus? Repellendus harum numquam eum ab. Odit, blanditiis beatae amet natus sint cumque doloribus illum iste commodi quae voluptate, exercitationem repellendus incidunt dolorem mollitia modi expedita! Culpa commodi dolores, illo maxime ratione expedita excepturi animi laboriosam obcaecati quos doloremque odio illum. Quo provident sunt tempora suscipit neque ducimus magnam corrupti fuga asperiores similique!</p>
        </div>

    </main>
    
<%- include('partials/footer') %> 